:root {
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
    --font-size-x-large: 32px;
    --font-size-xx-large: 4.8rem;

    --color-red: #FF6565;
    --color-white: #fff;

    --font: 'Source Sans Pro', 'Lato', sans-serif;
    --line-height: 1.5;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    min-width: 480px;
    max-width: 1000px;
}

body {
    width: 100vw;
    height: 100vw;
}

header {
    background-image: url(images/headphones_hero_1.jpg);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    color: var(--color-white);
}

header .header {
    justify-content: space-between;
    align-content: space-between;
    padding: 2rem;
    flex-wrap: wrap;
}

.header {
    max-width: 1000px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
}

.logo {
    width: 160px;
    height: auto;
}

.header .navbar-menu {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-content: space-between;
}

.header .header-nav {
    display: inline-flex;
    margin: auto 0;
    padding: 0;
    list-style-type: none;
    font-family: var(--font);
    font-size: var(--font-size-small);
    font-weight: 700;
    text-transform: lowercase;
}

.header .header-nav li {
    margin: auto 1.25rem;
}

.header-nav a {
    text-decoration: none;
    color: var(--color-white);
    transition: color 0.1s ease;
}

.header-nav a:hover, a:active {
    color: var(--color-red);
}

#menu-toggle {
    display: none;
    position: absolute;
}

#menu-btn {
    display: none;
    position: absolute;
}

.header-content {
    width: 75%;
    margin: 20rem auto 0 auto;
    font-family: var(--font);
    text-align: center;
}

.header-content .hero-title {
    position: relative;
    font-size: var(--font-size-x-large);
    font-weight: 700;
}

.hero-title::after {
    content: "Lorem ipsum dolor set amet lorem ipsum";
    position: relative;
    display: block;
    margin: 0.25rem 0;
    font-size: var(--font-size-medium);
}

.button {
    background: var(--color-red);
    border: none;
    border-radius: 24px;
    margin: 1rem auto;
    padding: 1rem 2rem;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.2s ease;
    font-family: var(--font);
    font-size: 14px;
    color: var(--color-white);
    font-weight: 700;
}

.button:hover, .button:active {
    opacity: 0.9;
}

.header-content p {
    color: var(--color-white);
    margin: 2rem 0;
    line-height: var(--line-height);
    font-size: var(--font-size-medium);
}

@media (max-width: 1200px) {
    header {
        background-position: 42% 50%;
    }
}

@media (max-width: 480px) {
    header {
        background-position: 44% 50%;
    }

    .logo {
        width: 50%;
        height: auto;
    }

    header .header .navbar-menu {
        flex-direction: column;
        align-items: center;
    }

    .header-nav {
        margin: 1rem auto;
        flex-direction: column;
        display: none;
        width: 100%;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }

    .header-nav li {
        width: 100%;
        margin: 0.5rem auto;
    }

    #menu-btn {
        background: var(--color-white);
        position: absolute;
        display: block;
        height: 2px;
        width: 13px;
        left: 1rem;
        top: 18px;
    }

    #menu-btn::before {
        background: var(--color-white);
        content: "";
        position: relative;
        display: block;
        top: -0.4rem;
        height: 2px;
        width: 20px;
        transition: all 0.2s ease;
    }

    #menu-btn::after {
        content: "";
        background: white;
        height: 2px;
        width: 18px;
        position: relative;
        top: 0.3rem;
        display: block;
        transition: all 0.2s ease;
    }

    #menu-toggle:checked ~ .header-nav {
        display: inline-flex;
    }
    
    #menu-toggle:checked ~ #menu-btn {
        background: transparent;
    }
    
    #menu-toggle:checked ~ #menu-btn::before {
        transform: rotate(45deg);
        top: 3px;
        margin: auto;
    }
    
    #menu-toggle:checked ~ #menu-btn::after {
        width: 20px;
        transform: rotate(-45deg);
        top: 1px;
        margin: auto;
    }

    .header-content {
        margin: 14rem auto 0 auto;
        width: 100%;
    }
}

/** Main Section - what we do */

main {
    width: 100%;
    position: relative;
}

.data-title {
    font-family: var(--font);
    font-weight: bold;
    font-size: var(--font-size-x-large);
    text-align: center;
    margin: auto;
    width: 100%;
    text-align: center;
}

main p {
    margin: 2rem auto;
    width: 65%;
    line-height: var(--line-height);
    text-align: center;
    font-size: var(--font-size-medium);
    font-family: var(--font);
}

main .data-section {
    padding: 4rem;
    flex-wrap: wrap;
}

main .grid {
    display: grid;
    width: 100%;
    margin: 2rem 0;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    font-family: var(--font);
    text-align: center;
}

main .grid .data-content {
    margin: 0.5rem;
}

main .grid .data-content p {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
}

main .grid .data-content h2 {
    font-family: var(--font);
    font-size: var(--font-size-large);
}

.holberton_school-icon-ic_sound .holberton_school-icon-ic_video .holberton_school-icon-ic_music .holberton_school-icon-ic_hearing {
    color: var(--color-red);
    font-size: 46px;
}

@media (max-width: 480px) {
    main .data-section {
        padding: 4rem 2.5rem;
    }

    main p {
        width: 100%;
    }

    main .grid {
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
    }

    main .grid .data-content p {
        width: 70%;
        margin: auto;
    }
}

/** results */

#results {
    color: var(--color-white);
    background-image: url("images/headphones_hero_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#results .results-content {
    padding: 6rem 4rem;
  }
  
  #results .grid {
    height: 10rem;
    padding: 0;
    position: relative;
    background-image: url("images/pentagone.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
   
  }
  
  #results .grid h2 {
    position: relative;
    top: 14%;
    font-size: var(--font-size-xx-large);

  }
  
  #results .grid p {
    position: relative;
    top: 12%;
  }

  /** Media Queries**/

  @media (max-width: 480px) {
    #results {
      background-position: 50%;
    }
  }

  @media (max-width: 1200px) {
    #results {
        background-position: 45%;
    }
  }